.fg-button { outline: 0; margin:0 1px 0 0; padding: .2em .5em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button {
}
	
	/* remove extra button width in IE */
	button.fg-button {
	display: inline-block;
	font-size:.8em;
	font-weight:600;
}
	
	.fg-button-icon-left { padding-left: 1.6em; padding-right:3px; }
	.fg-button-icon-left .ui-icon { right: auto; left: .1em; margin-left: 0; padding-left:3px; }
	.fg-button-icon-right { left: auto; padding-right: 0.6em; }	
	.fg-button-icon-right .ui-icon { left: auto; right: 0.2em; margin-left: 0; padding-right: -6px; float: right; }
	
	.fg-button-icon-solo {
	display:inline-block;
	width:12px;
	text-indent: -1px;
	margin: 3px;
}	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar {
	padding: 8px;
	margin: 1px;
}
	.fg-toolbar .fg-buttonset { margin-right: .2em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: inherit; padding-top:3px; padding-bottom:3px; border: thin groove #333333; }

	/*demo page css*/
.fg-button-icon-right2 {
	left: auto;
	padding-right: 1.8em;
	margin-left: 0;
	font-size: .8em;
}
.fg-button-icon-right2 .ui-icon {
	left: auto;
	right: 1.1em;
	margin-left: 0;
	float: right;
	padding-right: -8px;
}

.defaultText {
	font-family: Arial,sans-serif;
}
.defaultTextActive {
	color: #666666;
	font-family: Arial,sans-serif;
	font-style: italic;
}


.trainTitle {
	color: #333333;
	border-top-width: 8px;
	border-right-width: 8px;
	border-bottom-width: 8px;
	border-left-width: 8px;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: capitalize;
	font-variant: normal;
	font-weight: bolder;
}

.versionNum {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-weight: bolder;
	font-size: 18px;
	font-size-adjust: none;
	font-stretch: normal;
	color: #333333;
	text-decoration: none;
    }

fieldset {
	margin: 0px;
	padding: 2px;
	background-image: url(jq/images/ui-bg_hexagon_80_beb8b8_12x10.png);
	background-repeat: repeat;
	border: groove thin;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;	
}
.status {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #CC3300;
	text-align: justify;
	text-indent: 132px;
	font-size: smaller;
}
.demo55 {
	font-size: smaller;
}
body {
}
legend {
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	padding-top: 0.1em;
	padding-right: 0.5em;
	padding-bottom: 0.1em;
	padding-left: 0.5em;
	margin: 3px;
	font-size: 9px;
	vertical-align: bottom;
	outline: 2;
	background-image: url(jq/images/ui-bg_hexagon_85_d4d4d4_12x10.png);
	background-repeat: repeat;
	height: 11px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-style: groove;
	border-right-style: groove;
	border-left-style: groove;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #999999;
}
.buttonBack {
	background-image: url(jq/images/ui-bg_diamond-ripple_90_6e6f6f_22x22.png);
	background-repeat: repeat;
}
legend a {
	text-decoration: none;
}
label {
	font-weight: bold;
	color: #333333;
	font-size: 0.2em;
}
#tabs {
	width: 410px;
}
#tabs2 {
	width: 380px;
	vertical-align: top;
}
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
.style1 {
	color: #CC0000;
	font-size: 30px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.style2 {
	font-size: 20px;
	color: #0000FF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
h3 {
	font-size: largest;
	font-weight: bolder;
}
h3 a {
	font-size: larger;
	font-weight: bolder;
}
#showTheme2 {
	position:absolute;
	left:160px;
	top:50px;
	width:100%;
	height:30px;
	z-index:2;
}
h4 {
	text-decoration: none;
	position: relative;
	top: 5px;
	left:10px;
	height: 20px;

}
.diagComms {
	text-decoration: none;
	position: fixed;
	top: 130px;
	left:130px;
	clear:both;
	height: 20px;
}
#meButon {
	position: absolute;
	left: 430px;
	top: 125px;
}
.ajaxtooltip{
position: absolute; /*leave this alone*/
display: none; /*leave this alone*/
width: 300px;
left: 0; /*leave this alone*/
top: 0; /*leave this alone*/
background: lightyellow;
border: 2px solid gray;
border-width: 1px 2px 2px 1px;
padding: 5px;
}
/* ------> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}
.desc {
	position: absolute;
	clear: none;
	float: left;
	height: 50px;
	width: 180px;
	font-variant: small-caps;
	text-transform: capitalize;
	left: 25px;
}
